---
import { createClient } from '@supabase/supabase-js'


/**/
const supabaseUrl = import.meta.env.SUPABASE_URL
//
const too="wewe"
const supabaseAnonKey = import.meta.env.SUPABASE_ANON_KEY

const supabase = createClient(supabaseUrl, supabaseAnonKey)
//console.log(supabase);

let { data: outings, error } = await supabase
  .from('outings')
  .select('*')

  //console.log(outings);
---


<ul>
{outings.map(post => <li>{post.title}</li>)}
</ul>